<div class="rte">
  <div class="concierge-header" id="concierge-header">
    <h2>PRIVATE CONCIERGE</h2>
    <hr/>
    <p>
      As a complimentary service to all Blue Light Resort guests, a Private
      Concierge will personally meet you at your property to ensure a smooth and
      stress free check-in experience. A quick review of the estate amenities,
      including how to use features like the hot tub, home entertainment system
      and gas fireplaces, will ensure you make the most of your lodging and your
      vacation. Our year-round corporate passes will be at your estate when you
      arrive. Arrange for groceries to be brought and stocked prior to your
      arrival. We can recommend and reserve the perfect restaurant or activity
      for a night on the town.
    </p>
  </div>

  <div class="grid--full services-grid clearfix">
    <h2 class="grid__item">OUR SERVICES</h2>
    <div class="grid__item large--one-third medium--one-third airport-nav">
      <figure class="service-img">
        {{ "service-airport.png" | asset_url | img_tag }}
        <figcaption>
          <h3>AIRPORT SERVICES</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item airport-content">
      <p class="service-content">
        Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
        Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
      </p>
    </div>

    <div class="grid__item large--one-third medium--one-third grocery-nav">
      <figure class="service-img">
        {{ "service-groceries.png" | asset_url | img_tag }}
        <figcaption>
          <h3>GROCERY SHOPPING</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item grocery-content">
      <p class="service-content">
        Concierge is available to assist you with your every need. Let us arrange
        for groceries to be bought and stocked prior to your arrival.
      </p>
    </div>

    <div class="grid__item large--one-third medium--one-third babysitting-nav nav-active">
      <figure class="service-img">
        {{ "service-babysitting.png" | asset_url | img_tag }}
        <figcaption>
          <h3>BABYSITTING</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item babysitting-content">
      <p class="service-content">
        Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
        Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
      </p>
    </div>
  </div>

  <div class="grid--full recommendations-grid clearfix">
    <h2 class="grid__item">WHAT WE RECOMMEND</h2>
    <div class="grid__item large--one-third medium--one-third dining-nav">
      <figure class="recommendation-img">
        {{ "recommend-dining.png" | asset_url | img_tag }}
        <figcaption>
          <h3>FINE DINING</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item dining-content">
      <div class="recommendation-content">
        <section>
          <h3>Foundry Grill</h3>
          <hr>
          <p>
            Awarded Best Brunch by City Weekly Magazine and Best of State for
            American Cuisine. Get an incredible view of 12,000-foot Mount Timpanogos through the wall of windows in the Foundry Grill while you enjoy true Western cooking prepared on the restaurant's large wood-burning grill and rotisserie. In warm weather, the patio opens fo outside dining. The Foundry Grill serves breakfast, lunch and dinner six days a week and brunch and dinner on Sunday.
          </p>
          <p>
            <b>Hours:</b><br>
            Breakfast 7:00 am - 10:30 am<br>
            Lunch 11:00 am - 4:00 pm<br>
            Dinner Sun - Thu 5:00 pm - 9:00 pm, Fri - Sat 5:00 pm - 10:00 pm<br>
            Sun. Brunch 9:00 am - 2:00 pm<br>
            Closed daily 4:00 pm - 5:00 pm
          </p>
          <p><strong>Hours are subject to seasonal changes.</strong></p>
          <p>Reservations are strongly recommended. For more information call (801) 223-4420</p>
        </section>
        <section>
          <h3>Tree Room</h3>
          <hr>
          <p>
            Recipient of the prestigious AAA Four-Diamond award and the Wine Spectator award. The Tree Room serves seasonal mountain cuisine. The atmosphere is romantic with candlelight and soft illumination accenting the Native American art from Robert Redford's private collection. Casual attire is welcome.
          </p>
          <p>
            <b>Hours:</b><br>
            Tuesday - Thursday from 5:00 pm - 9:00 pm<br>
            Friday - Saturday fro 5:00 pm - 10:00 pm
          </p>
          <p><strong>Hours are subject to seasonal changes.</strong></p>
          <p>Reservations are strongly recommended. For more information call (801) 225-4107</p>
        </section>
        <section>
          <h3>Deli</h3>
          <hr>
          <p>
            Enjoy the deli's fresh sandwiches, pastries, and other desserts while sitting on the deck outside or up on the mountainside. Handcrafted foods from American cottage farmers as well as items produced right at Sundance are also available.
          </p>
          <p>
            <b>Hours:</b><br>
            Sunday - Thursday from 7:00 am - 9:00 pm<br>
            Friday - Saturday from 7:00 am - 10:00 pm
          </p>
          <p><strong>Hours are subject to seasonal changes.</strong></p>
        </section>
        <section>
          <h3>Creekside Caf&eacute;</h3>
          <hr>
          <p>
            Creekside offers a fast alternative for a Sundance dining experience. Located just above Sundance Mountain Outfitters, Creekside's menu consists of pizza, salad, chili, pastries, soup, coffee and hot chocolate. Enjoy the warms inside or the view of Mt. Timpanogos on the patio.
          </p>
          <p>
            <b>Hours:</b><br>
            ???<br>
            ???
          </p>
          <p><strong>Hours are subject to seasonal changes.</strong></p>
        </section>
      </div>
    </div>

    <div class="grid__item large--one-third medium--one-third spa-nav">
      <figure class="recommendation-img">
        {{ "recommend-spa.png" | asset_url | img_tag }}
        <figcaption>
          <h3>SPA SERVICES</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item spa-content">
      <p class="recommendation-content">
        Concierge is available to assist you with your every need. Let us arrange
        for groceries to be bought and stocked prior to your arrival.
      </p>
    </div>

    <div class="grid__item large--one-third medium--one-third ski-nav nav-active">
      <figure class="recommendation-img">
        {{ "recommend-ski.png" | asset_url | img_tag }}
        <figcaption>
          <h3>SKI GEAR &amp; RENTALS</h3>
        </figcaption>
      </figure>
    </div>

    <div class="grid__item ski-content">
      <p class="recommendation-content">
        Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
        Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
      </p>
    </div>
  </div>

  <p class="back-to-top"><a href="#concierge-header">BACK TO TOP</a></p>
</div>

<script>
  jQuery(function($) {
    $(document).ready(function(){
      function navToggle (navEls, contentEls, category) {
        $(navEls).removeClass('nav-active');

        $(contentEls).hide();

        $('.'+category+'-nav').addClass('nav-active');
        $('.'+category+'-content').show();
      }

      var serviceToggle = navToggle.bind(null, '.airport-nav, .grocery-nav, .babysitting-nav', '.airport-content, .grocery-content, .babysitting-content');

      $('.airport-nav').click(serviceToggle.bind(null, 'airport'));
      $('.grocery-nav').click(serviceToggle.bind(null, 'grocery'));
      $('.babysitting-nav').click(serviceToggle.bind(null, 'babysitting'));

      var recommendToggle = navToggle.bind(null, '.dining-nav, .spa-nav, .ski-nav', '.dining-content, .spa-content, .ski-content')

      $('.dining-nav').click(recommendToggle.bind(null, 'dining'));
      $('.spa-nav').click(recommendToggle.bind(null, 'spa'));
      $('.ski-nav').click(recommendToggle.bind(null, 'ski'));
    });
  });
</script>
