<div class="rte">
  <div class="text-center wrapper main-text header" id="top">
    <h2>TOO MUCH TO DO</h2>
    <hr/>
    <p>
      This would be a great little blurb about all the great stuff to do in any season up at Sundance near Blue Light resort.
      It's in offering the finest amenities and giving you the space to enjoy them. It's in fulfilling the promise of luxury when others disappoint.
      Come see what luxury is like at 6000 feet above sea level, where you and your family can have the mountain experience you've been looking for.
    </p>
  </div>

  <div class="grid--full text-center wrapper main-text clearfix">
    <div class="grid__item large--one-third medium--one-third winter-nav">
      <h2>WINTER</h2>
      <hr/>
    </div>
    <div class="grid__item large--one-third medium--one-third summer-nav">
      <h2>SUMMER</h2>
      <hr/>
    </div>
    <div class="grid__item large--one-third medium--one-third anytime-nav nav-active">
      <h2>ANYTIME</h2>
      <hr/>
    </div>
  </div>

  <p class="activities-sub-heading">SCROLL TO VIEW RESTAURANTS</p>

  <div class="grid--full winter-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_skiing.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>SKIING & SNOWBOARDING</h2>
        <hr>
        <p>
          Enjoy serene quiet unbelievable skiing tucked away inside a majestic mountain. For our skiers and snowboarders we offer 45 runs spread over 450 acres of snow-smothered terrain; ideal for all skill levels. Night skiing is also an option every Monday, Wednesday, Friday and Saturday night!
        </p>
        <p>
          Ski lifts are open from 9:00 AM to 4:30 PM from mid-December to April.
        </p>
        <a href="" class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>CROSS-COUNTRY SKIING & SNOWSHOEING</h2>
        <hr>
        <p>
          Sundance offers the rare combination of a pristing back-country experience with immaculate wide-groomed trails for Cross Country Skiing and separate trails to Snowshoe on.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_snowshoeing.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_tubing.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>TUBING AT SOLDIER HOLLOW</h2>
        <hr>
        <p>
          Soldier Hollow is in Wasatch Mountain State Park near Midway and offers the longest tubing lanes in Utah. The hill has lengthy 1,200-foot sliding lanes with lift service for towing people up the hill for tubing day or night under the lights.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>ICE SKATING</h2>
        <hr>
        <p>
          Just a short 20 minute drive to the Midway Ice Rink. Open daily November 21, 2015 to March 6, 2016.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_ice_skating.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_snowmobiling.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>SNOWMOBILING</h2>
        <hr>
        <p>
          Enjoy the beautiful Utah Mountains as you ride through the best snow on earth. There are a few venues to choose from so let us help you book your tour.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>ICE CASTLES</h2>
        <hr>
        <p>
          The Ice Castles in Midway are a short drive that will be worth your while. Every visitor gets a distinctive experience since the ice is constantly melting, freezing and being reshaped. It's an amazing continuously evolving experience.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_ice_castles.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <div class="grid--full summer-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_hiking.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>HIKING</h2>
        <hr>
        <p>
          "Take a Hike" Utah is one of the most beautiful places on earth and has some of the most scenic trails, lakes and waterfalls you can experience. The hikes are for beginners, intermediate or the seasoned adventurous hiker. If you get sore, no worries; there will be a hot tub waiting for you back at the lodge.
        </p>
        <a class="btn" href="#hikes-popup">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>MOUNTAIN BIKING</h2>
        <hr>
        <p>
          Enjoy the beautiful Sundance Mountain on top of a bike. You can soar like an eagle through the forest with your bike and experience adventure and fun with excellent intermediate and advance trail riding; and if you would like to make the short trip to Park City we can personally tell you about a great ride with lunch.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_mountain_biking.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_fly_fising.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>FLY FISHING</h2>
        <hr>
        <p>
          Do you dream of fishing? Utah fishing is your dream come true! We have partnered with Wasatch Guide Service. Many of the fly fishing guides have been guiding on the Provo River for nearly 20 years. Give us a call or book online.
        </p>
        <p>
          The Provo River flows a vast eighty-one miles from Mirror Lake in the high Uinta Mountains down through the beautiful Provo Valley eventually emptying into Utah Lake. The world-famous blue ribbon trout fishery of the Provo River consists of three different sections, referred to as the upper Provo, middle Provo and lower Provo. Each section of the river affords a unique ambiance and characteristic.
        </p>
        <a class="btn" href="">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>HORSEBACK RIDING</h2>
        <hr>
        <p>
          Ride through the most beautiful mountain ranges in the world. Enjoy breathtaking scenery and catch a view of the famous Stewart Falls, listen to the sounds of the water and enjoy your cowboy guide as he guides you through some of the most amazing backcountry. Horseback riding opens in the Spring and can be booked through our concierge service.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_horseback_riding.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_trekking.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>ZIPLINE</h2>
        <hr>
        <p>
          Experience Sundance Mountain and the breathtaking views of Mount Timpanogos fro the sky! The Sundance ZipTour is on the most exciting and scenic zip tours in the world, boasting over 2,100 feet of vertical drop - the most of any zip line tour in the United States. Guests can ride side-by-side on the zip line's double cables and control their speed, cruising over 65 miles per hour, or stopping mid-air for a scenic photograph.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>PROVO RIVER RAFTING</h2>
        <hr>
        <p>
          Provo Canyon is one of the most beautiful and easily accessible canyons in all of Utah. Enjoy the beauty of the canyon by taking a guided or self-guided float trip between its majestic walls. We offer daily mild whitewater trips on the Provo River (class 1 &amp; 2 rapids). The Provo River is a sanctuary for bird watching and is home to many other river wildlife. River Otters and Beavers are frequently seen on our trips. The trip takes you under historic train bridges, and has just enough whitewater to splash you, hence the trip name Splash Attack. Call Run Off River Adventures or book through the concierge.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_river_rafting.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_timpanogos_cave.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>TIMPANOGOS CAVE</h2>
        <hr>
        <p>
          Hike your way past stunning vistas to explore a hidden underground world. Taste the thrill of caving as you twist and bend to enter beautifully decorated rooms. Learn the science behind formations and hear stories of cave exploration and preservation. Experience and discover as you go - geological mysteries away... Contact the Park, or book with the concierge service.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>CASCADE SPRINGS</h2>
        <hr>
        <p>
          Utahn's are proud of their clean water. We are so privileged to live in an area with a large artesian spring with naturally-terraced cascades and pools. Over seven million gallons of water flow through the springs each day.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_cascade_spring.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_river_rafting.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>BOATING & WATER SPORTS</h2>
        <hr>
        <p>
          Deer Creek Reservoir is a short 20 minute scenic canyon drive where you will find a breathtaking lake wrapped around mountain views. This National Treasure provides any water sport you may want - boating, wind surfing, etc. or treat yourself to a relaxing day of fishing. For more information call the Deer Creek Park or reserve through the concierge.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>GOLF</h2>
        <hr>
        <p>
          Blue Light Resort is home to some of the most beautifully groomed golf courses in Utah. Enjoy a day of golfing at one of these championship courses during your stay.
        </p>
        <a class="btn" href="#golf-popup">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_golf.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <div class="anytime-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_blue_bird_cafe.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>BLUE BIRD CAF&Eacute;</h2>
        <hr>
        <p>
          Experience a little bit of Nashville in Utah at our Bluebird Caf&eacute; event, which features singer-songwriters who share their music and stories. Ask your concierge about dates and times.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>SUNDANCE SPA</h2>
        <hr>
        <p>
          Relax at the Sundance Spa, the tranquil surrounding offers a natural eco-spa experience to restore your body and peace of mind.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_sundance_spa.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_owl_bar.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>OWL BAR</h2>
        <hr>
        <p>
          The Owl Bar has some of the best shrimp tacos around. The restored 1890's bar was moved from Thermopolis, Wyoming to Sundance. The original Rosewood bar was once frequented by Butch Cassidy's Hole in the Wall Gang. Join us for creative cocktails, beer and wine as well as an inventive, seasonal menu. Friday and Saturday nights the Owl Bar features life music for your listening pleasure.
        </p>
        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>HEBER VALLEY RAILROAD</h2>
        <hr>
        <p>
          Experience a Mountain View train ride you'll never forget. Choose Deer Creek Express or a Chocolate lovers date night special.
        </p>
        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_heber_railroad.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <p class="back-to-top"><a href="#top">BACK TO TOP</a></p>

  <div id="golf-popup" class="overlay">
    <div class="popup">
      <h2>GOLF OPTIONS</h2>
      <a class="close" href="#">×</a>
      <div class="content">
        <h3>SLEEPY RIDGE</h3>
        <hr>
        <p>
          Sleepy Ridge golf course will give you a unique golfing experience in the heart of Utah valley along the Eastern shores of Utah Lake. We have something special at Sleepy Ridge Golf Course that recreates a long awaited trip to Scotland playing on a fabulous links style golf course. Set the tone of the day by driving up to the beautiful three-story clubhouse that overlooks the links-stunning layout, with wetlands evident throughout the course. The old country inspiration comes across in many ways during your 18 holes round of golf, with much of the course exhibiting reminders of Scottish links golf. Before, during, or after your round grab a sandwich and beverage from State Street Grill and relax with your friends in front of the two flat screen TV’s in the Heritage room or Pro Shop.
        </p>
        <div class="flex-grid">
          <span><span class="bolded-text">SIZE</span> - 18 holes / Par 72</span>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>CRATER SPRINGS</h3>
        <hr>
        <p>
          Crater Springs golf (formally Homestead) located only 20 minutes from Sundance, is a par 72 course measuring 7,017 yards from the back tees and plays 5,091 yards from the forward tees. Course rating is 73.0 from the back tees and 68.2 from the forward.
        </p>
        <div class="flex-grid">
          <span><span class="bolded-text">SIZE</span> - 18 holes / Par 72</span>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>SOLDIER HOLLOW</h3>
        <hr>
        <p>
          Soldier Hollow Golf is the newest addition to Utah’s beautiful Wasatch Mountain State Park. The championship, 36-hole facility completes the year-round recreation programs at the 2002 Olympic and Paralympic Winter Games venue. Its layout sits at some of the highest elevations of the complex offering stunning views of the Heber Valley below. The Gold Course is a typical mountain or foothills course with significant elevation change throughout the course and dramatic elevation changes within each hole. The vegetation on the course mirrors the surrounding native area vegetation, scrub oaks and native mountain valley grasses.
        </p>
        <div class="flex-grid">
          <span><span class="bolded-text">SIZE</span> - Two 18 hole courses / Par 72</span>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>
      </div>
    </div>
  </div>

  <div id="hikes-popup" class="overlay">
    <div class="popup">
      <h2>NOTABLE HIKES</h2>
      <a class="close" href="#">×</a>
      <div class="content">
        <h3>BLACK FOREST TRAIL</h3>
        <hr>
        <p>
          If you’re a beginner this is the hike for you. Take the Sundance lift to Ray’s Summit and hike through thick forest trails and back down to the base.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Beginner / Intermediate<br>
            <span class="bolded-text">LENGTH</span> - 2.5 miles / 1.5 hours (including lift ride)
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>STEWART FALLS</h3>
        <hr>
        <p>
          Enjoy one of Sundance’s most popular hikes to beautiful Stewart Falls. Take the lift up to Ray’s Summit and then trek through mountain forest and
          across the meadow of Dry Lakes to the falls.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Beginner / Intermediate<br>
            <span class="bolded-text">LENGTH</span> - 3 miles / 2 hours (including lift ride)
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>ARROWHEAD SUMMIT TRAIL</h3>
        <hr>
        <p>
          The more adventurous hiker will enjoy the challenge of the Arrowhead Summit Trail. This hike will take you to the top of Sundance Mountain Resort at over 8,000 ft. with spectacular 360-degree views of the Wasatch Mountain Range, Utah Valley, and Heber Valley.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Intermediate / Advanced<br>
            <span class="bolded-text">LENGTH</span> - 3.7 miles / 3-4 hours (including lift ride)
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>MANDAN SHORT LOOP</h3>
        <hr>
        <p>
          Great hike for beginners. A short loop takes you around Mandan Summit and includes fantastic far-off views of The Fingers as well as Cascade Cirque and Stewart Falls, and then brings you back to the top of Ray’s Lift.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Beginner<br>
            <span class="bolded-text">LENGTH</span> - 1 mile / 40 minutes (including lift ride)
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>DRY LAKE LOOP</h3>
        <hr>
        <p>
          This figure-eight loop adds an extra .75 of a mile onto the Mandan Short Loop, winding you through the picturesque Dry Lake area, meandering
          through the spectacular glade of aspens to return to the top of Ray’s Lift.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Intermediate / Advanced<br>
            <span class="bolded-text">LENGTH</span> - 3.7 miles / 1 hour (including lift ride)
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>

        <h3>TIMPOONEKE / EMERALD LAKE</h3>
        <hr>
        <p>
          If you would like something more challenging, Timpooneke trail is a beautiful trail that climbs steadily up the Giant Staircase to connect in with both the Timpanogos Summit trail and the Mount Timpanogos trail.  A couple of waterfalls can be seen from this trail. The Timpooneke Trail begins at the large parking lot and stock-loading ramp in Tipooneke Campground in the South Fork of American Fork Canyon, Highway 92, and Alpine Scenic Loop.
        </p>
        <div class="flex-grid">
          <div>
            <span class="bolded-text">LEVEL</span> - Advanced<br>
            <span class="bolded-text">LENGTH</span> - 14.5 miles / 6+ hours
          </div>
          <a href="" class="popup-link">WEBSITE ></a>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  jQuery(function($) {
    $(document).ready(function(){
      function navToggle (season) {
        $('.winter-nav, .summer-nav, .anytime-nav').removeClass('nav-active');

        $('.winter-activities, .summer-activities, .anytime-activities').hide();

        $('.'+season+'-nav').addClass('nav-active');
        $('.'+season+'-activities').show();
      }

      $('.winter-nav').click(navToggle.bind(null, 'winter'));
      $('.summer-nav').click(navToggle.bind(null, 'summer'));
      $('.anytime-nav').click(navToggle.bind(null, 'anytime'));
    });
  });
</script>
