{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="rte">
  <div class="activities-header" id="activities-header">
    <h2>TOO MUCH TO DO</h2>
    <hr/>
    <p>
      This would be a great little blurb about all the great stuff to do in any season up at Sundance near Blue Light resort.
      It's in offering the finest amenities and giving you the space to enjoy them. It's in fulfilling the promise of luxury when others disappoint.
      Come see what luxury is like at 6000 feet above sea level, where you and your family can have the mountain experience you've been looking for.
    </p>
  </div>

  <div class="grid activities-nav clearfix">
    <div class="grid__item large--one-third medium--one-third winter-nav">
      <h2>WINTER</h2>
      <hr/>
    </div>
    <div class="grid__item large--one-third medium--one-third summer-nav">
      <h2>SUMMER</h2>
      <hr/>
    </div>
    <div class="grid__item large--one-third medium--one-third anytime-nav nav-active">
      <h2>ANYTIME</h2>
      <hr/>
    </div>
  </div>

  <p class="activities-sub-heading">SCROLL TO VIEW RESTAURANTS</p>

  <div class="anytime-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_blue_bird_cafe.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>BLUE BIRD CAFÉ</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>SUNDANCE SPA</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_sundance_spa.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_owl_bar.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>OWL BAR</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>HEBER VALLEY RAILROAD</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_heber_railroad.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <div class="grid winter-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_skiing.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>SKIING & SNOWBOARDING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>CROSS-COUNTRY SKIING & SNOWSHOEING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_snowshoeing.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_tubing.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>TUBING AT SOLDIER HOLLOW</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>ICE SKATING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_ice_skating.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_snowmobiling.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>SNOWMOBILING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>ICE CASTLES</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_ice_castles.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <div class="grid summer-activities">
    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_hiking.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>HIKING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn" href="#hikes-popup">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>MOUNTAIN BIKING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_mountain_biking.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_fly_fising.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>FLY FISHING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>HORSEBACK RIDING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_horseback_riding.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_trekking.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>ZIPLINE</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>PROVO RIVER RAFTING</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_river_rafting.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_timpanogos_cave.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>TIMPANOGOS CAVE</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>CASCADE SPRINGS</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_cascade_spring.jpg" | asset_url }});" /></div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_river_rafting.jpg" | asset_url }});" /></div>
      <div class="flex-grid__item activity-content">
        <h2>BOATING & WATER SPORTS</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn">MORE</a>
      </div>
    </div>

    <div class="flex-grid">
      <div class="flex-grid__item activity-content">
        <h2>GOLF</h2>
        <hr>

        <p>
          Bacon ipsum dolor amet capicola ham jowl ground round ball tip, pig tenderloin venison frankfurter tail turducken tongue.
          Ribeye hamburger jowl pig drumstick kevin. Kevin salami pros.
        </p>

        <a class="btn" href="#golf-popup">MORE</a>
      </div>
      <div class="flex-grid__item activity-img" style="background-image: url({{ "activity_golf.jpg" | asset_url }});" /></div>
    </div>
  </div>

  <p class="back-to-top"><a href="#activities-header">BACK TO TOP</a></p>

  <div id="golf-popup" class="overlay">
    <div class="popup">
      <h2>GOLF OPTIONS</h2>
      <a class="close" href="#">×</a>
      <div class="content">
        <h3>SLEEPY RIDGE</h3>
        <hr>
        <p>
          Sleepy Ridge golf course will give you a unique golfing experience in the heart of Utah valley along the Eastern shores of Utah Lake.
          We have something special at Sleepy Ridge Golf Course that recreates a long awaited trip to Scotland playing on a fabulous links style golf course.
          Set the tone of the day by driving up to the beautiful three-story clubhouse that overlooks the links-stunning layout, with wetlands evident throughout the course.
          The old country inspiration comes across in many ways during your 18 holes round of golf, with much of the course exhibiting reminders of Scottish links golf.
          Before, during, or after your round grab a sandwich and beverage from State Street Grill and
          relax with your friends in front of the two flat screen TV’s in the Heritage room or Pro Shop.
        </p>
        <div class="grid">
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">SIZE</span> - 18 holes / Par 72</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>CRATER SPRINGS</h3>
        <hr>
        <p>
          Crater Springs golf (formally Homestead) located only 20 minutes from Sundance, is a par 72 course measuring 7,017 yards
          from the back tees and plays 5,091 yards from the forward tees. Course rating is 73.0 from the back tees and 68.2 from the forward.
        </p>
        <div class="grid">
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">SIZE</span> - 18 holes / Par 72</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>SOLDIER HOLLOW</h3>
        <hr>
        <p>
          Soldier Hollow Golf is the newest addition to Utah’s beautiful Wasatch Mountain State Park.
          The championship, 36-hole facility completes the year-round recreation programs at the 2002 Olympic and Paralympic Winter Games venue.
          Its layout sits at some of the highest elevations of the complex offering stunning views of the Heber Valley below.
          The Gold Course is a typical mountain or foothills course with significant elevation change throughout the course and dramatic elevation changes within each hole.
          The vegetation on the course mirrors the surrounding native area vegetation, scrub oaks and native mountain valley grasses.

        </p>
        <div class="grid">
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">SIZE</span> - Two 18 hole courses / Par 72</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="hikes-popup" class="overlay">
    <div class="popup">
      <h2>NOTABLE HIKES</h2>
      <a class="close" href="#">×</a>
      <div class="content">
        <h3>BLACK FOREST TRAIL</h3>
        <hr>
        <p>
          If you’re a beginner this is the hike for you. Take the Sundance lift to Ray’s Summit and hike through thick forest trails and back down to the base.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Beginner / Intermediate</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 2.5 miles / 1.5 hours</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>STEWART FALLS</h3>
        <hr>
        <p>
          Enjoy one of Sundance’s most popular hikes to beautiful Stewart Falls. Take the lift up to Ray’s Summit and then trek through mountain forest and
          across the meadow of Dry Lakes to the falls.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Beginner / Intermediate</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 3 miles / 2 hours</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>ARROWHEAD SUMMIT TRAIL</h3>
        <hr>
        <p>
          The more adventurous hiker will enjoy the challenge of the Arrowhead Summit Trail. This hike will take you to the top of Sundance Mountain Resort at
          over 8,000 ft. with spectacular 360-degree views of the Wasatch Mountain Range, Utah Valley, and Heber Valley.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Intermediate / Advanced</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 3.7 miles / 3-4 hours</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>MANDAN SHORT LOOP</h3>
        <hr>
        <p>
          Great hike for beginners. A short loop takes you around Mandan Summit and includes fantastic far-off views of The Fingers as well as Cascade Cirque
          and Stewart Falls, and then brings you back to the top of Ray’s Lift.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Beginner</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 1 mile / 40 minutes</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>DRY LAKE LOOP</h3>
        <hr>
        <p>
          This figure-eight loop adds an extra .75 of a mile onto the Mandan Short Loop, winding you through the picturesque Dry Lake area, meandering
          through the spectacular glade of aspens to return to the top of Ray’s Lift.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Intermediate / Advanced</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 3.7 miles / 1 hour</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>

        <h3>TIMPOONEKE / EMERALD LAKE</h3>
        <hr>
        <p>
          If you would like something more challenging, Timpooneke trail is a beautiful trail that climbs steadily up the Giant Staircase to connect in
          with both the Timpanogos Summit trail and the Mount Timpanogos trail.  A couple of waterfalls can be seen.
        </p>
        <div class="grid">
          <div class="grid__item large--one-whole medium--one-whole popup-left">
            <p><span class="bolded-text">LEVEL</span> - Advanced</p>
          </div>
          <div class="flex-grid__item popup-left">
            <p><span class="bolded-text">LENGTH</span> - 14.5 miles / 6+ hours</p>
          </div>
          <div class="flex-grid__item popup-right">
            <a href="" class="bolded-text">WEBSITE ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  jQuery(function($) {
    $(document).ready(function(){
      function navToggle (season) {
        $('.winter-nav, .summer-nav, .anytime-nav').removeClass('nav-active');

        $('.winter-activities, .summer-activities, .anytime-activities').hide();

        $('.'+season+'-nav').addClass('nav-active');
        $('.'+season+'-activities').show();
      }

      $('.winter-nav').click(navToggle.bind(null, 'winter'));
      $('.summer-nav').click(navToggle.bind(null, 'summer'));
      $('.anytime-nav').click(navToggle.bind(null, 'anytime'));
    });
  });
</script>
